.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.crab-eats-title {
  font: italic bold 40px/50px Georgia, serif;
  transition: all 0.3s;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .crab-eats-title {
    font-size: 30px;
    line-height: 40px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .crab-eats-title {
    font-size: 35px;
    line-height: 45px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .crab-eats-title {
    font-size: 40px;
    line-height: 50px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .crab-eats-title {
    font-size: 45px;
    line-height: 55px;
  }
}

.custom-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 100;
}

.custom-header .crab-eats-title {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.crab-eats-title:hover {
  color: rgb(233, 231, 231);
  cursor: pointer;
}

.food-list-container {
  margin-top: 110px;
  position: static;
  width: auto;
  height: auto;
  display: block;
  z-index: auto;
}

.login-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.logo-container {
  display: flex;
  align-items: center;
}

.site-background-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
